Fabric==1.8.3
Jinja2==2.7.3
MarkupSafe==0.23
Pygments==2.0.1
Sphinx==1.2.3
cssselect==0.9.1
docutils==0.12
ecdsa==0.11
lxml==3.4.1
paramiko==1.12.4
pycrypto==2.6.1
pyquery==1.2.9
requests==2.5.0
sphinx-rtd-theme==0.1.7
sphinxcontrib-phpdomain==0.1.4
wsgiref==0.1.2
