/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

/* Editor */

.wp-block[data-type="super-cool-ad-inserter-plugin/scaip-sidebar"] {
	border-radius: 2px;
	box-shadow: inset 0 0 0 1px currentcolor;
	padding: 1em;
}

.wp-block-super-cool-ad-inserter-plugin-scaip-sidebar .components-flex {
	align-items: flex-start;
	display: flex;
	flex-direction: column;
  justify-content: center;
	width: 100%;
}

.wp-block-super-cool-ad-inserter-plugin-scaip-sidebar .components-input-control__label {
	align-items: center;
	display: flex !important;
	font-weight: 500;
	margin-bottom: 16px !important;
}

.wp-block-super-cool-ad-inserter-plugin-scaip-sidebar .components-input-control__label .dashicon {
	margin-right: 1ch;
}

@media (min-width: 600px) {
	.wp-block-super-cool-ad-inserter-plugin-scaip-sidebar .components-input-control__container {
		width: 50%;
	}
}

/* Sidebar */

.components-panel__super-cool-ad-inserter-plugin-scaip-sidebar {
	padding: 0 16px 16px;
}
